@import "../../styles/_variables";

.LoginPage {
    #page-content {
        //margin-top: calc(25vh - 80px);
    }

    div.form-section {
        @extend %people-bg;
        @extend %transition-bg;
        min-height: calc(100vh - #{$navbar-height});
    }

    .form-card {
        max-width: 500px;
        margin: 0 auto;
        padding: 200px 0;

        section {
            margin-bottom: 1rem;
        }

        .card {
            padding: 1.5rem 1.2rem;
        }

        h1 {
            color: $c-title !important;
            margin: 0 0 1.5rem;
        }

        a {
            color: $c-main;
        }

        .grid {
            grid-template-columns: auto auto;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.5rem;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .form-card {
        max-width: 100vw !important;
        padding: 0px !important;

        .card {
            border-radius: 0px;
            padding: 0px !important;
            //min-height: calc(100vh - #{$navbar-height});
            align-items: center;
            justify-content: center;

            .card-content {
                height: 100%;
                justify-content: center;
                display: flex;
                width: 100%;
                flex-direction: column;
            }
        }

        .grid {
            margin-top: 0rem;
            align-items: none;
        }
    }
}
