@import "../../styles/_variables";

.RegisterPage {
    #page-content {
        //margin-top: calc(25vh - 80px);
    }

    h4 {
        //   text-align: center;
    }

    div.form-section {
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %people-bg;
        @extend %transition-bg;
        max-height: 100vh;
        margin-bottom: 3rem;
        position: relative;
        min-height: 80vh;

        .testimonial-arrow {
            font-weight: bold;
            color: var(--c-lightest);
            padding-bottom: 2rem;
            bottom: 50px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 400px; /* Need a specific value to work */
        }
    }

    div.pitch {
        margin-bottom: 3rem;
    }

    div.bottom-cta {
        h2 {
            margin-bottom: 1rem;
        }
    }

    .form-card {
        //padding-top: 5rem;
        //padding-bottom: 5rem;
        min-width: 500px;
        max-width: 500px;
        margin: 0 auto;
        //padding: 200px 0;
        position: relative;

        .card {
            padding: 1.5rem 1.2rem;
        }

        section {
            margin-bottom: 2rem;
        }

        h1 {
            color: $c-title !important;
            margin: 0 0 1.5rem;
        }

        a {
            color: $c-main;
        }

        .grid {
            grid-template-columns: auto auto;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.5rem;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .form-section {
        width: 100%;
        //height: 100vh;
        min-height: auto !important;
        display: block;
        // margin-top: $navbar-height;
        .testimonial-arrow {
            display: none;
        }
    }
    .form-card {
        width: 100%;
        max-width: 100vw !important;
        padding: 0px !important;
        min-height: auto !important;
        border-bottom: 1px solid var(--c-border);
        //height: 100vh;

        .card {
            margin-bottom: 0px;
            border-radius: 0px;
            padding: 0px !important;
            // min-height: calc(100vh - #{$navbar-height});
            align-items: center;
            justify-content: center;

            .card-content {
                height: 100%;
                justify-content: center;
                display: flex;
                width: 100%;
                flex-direction: column;
            }
        }

        .grid {
            margin-top: 0rem;
            align-items: none;
        }
    }
}
