.HeaderTrend {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;

    .bar {
        margin-right: 2px;
        flex-grow: 1;
        max-height: 90%;
        align-self: flex-end;
    }
}
