@import "../../../styles/_variables";

.NextEditor {
    display: flex;
    flex-direction: column;
    width: 100%;

    .task-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        // padding: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;
        opacity: 0.5;

        transition: opacity 0.3s ease;

        &:last-child {
            padding-bottom: 0px;
        }

        &.active {
            opacity: 1;
        }

        &:first-of-type {
            padding-top: 0px;
        }

        .help {
            position: absolute;
            bottom: 0px;
            color: lightgray;
            left: calc(1rem + 25px);
        }
        & > div.check-case {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            div {
                border-radius: 50%;
                height: 19px;
                width: 19px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.done {
                    background: $c-main;
                }

                &.remaining,
                &.in-progress {
                    background-color: $c-in-progress;
                }
            }

            svg {
                height: 1.3rem;
                width: 1.3rem;
            }

            &.in-progress svg {
                @extend %round;
                animation: pulse 2s infinite;
                box-shadow: 0 0 5px #f4a324;
                z-index: 100;
            }
        }

        & > div.input {
            font-weight: bold;
            width: 100%;
            > input {
                color: var(--c-title);
                //padding: 1.5rem;
                padding-left: 0.6rem;
                padding-top: 0px;
                font-size: 20px;
                // @extend %worksans;
                background: var(--c-lightest);
                border: none;
                width: 100%;
                @extend %corners;
                height: 100%;
            }
        }
    }
}
