@import "../../styles/_variables";

.ExplorePage {
    .UserHero {
        min-height: 20vh;
        background: linear-gradient(to left, #38ef7d, #11998e);

        .media {
            align-items: center;
        }

        .level .level-item {
            flex-direction: column;
        }
    }

    .UserHero-Avatar {
        padding-right: 30px;
    }

    .UserHero-Avatar > img {
        @extend %round;
        max-width: 20vh;
        max-height: 20vh;
        border: 5px solid var(--c-lightest);
    }

    .sidebar {
        .heading {
            margin-top: 0;
        }
    }
}
