@import "../../styles/_variables";

#main-navbar {
    font-size: 0.875rem;
    background: var(--c-lightest);
    height: $navbar-height;
    position: relative;
    z-index: 999;
    border-bottom: 0.2px solid var(--c-border-lightest);

    .navbar-start {
        display: flex;
        align-items: stretch;
    }

    .navbar-end {
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;

        > .navbar-item {
            justify-content: center;
            margin-left: 2rem;
        }
    }
    .navbar-item,
    .navbar-link {
        align-items: center;
        display: flex;

        .count {
            position: absolute;
            right: -50%;
            //top: 1%;
            top: 25%;
            font-size: 14px;
            padding: 0.3em;
            border-radius: 999px;
            line-height: 0.75em;
            color: var(--c-text);
            background: $c-secondary;
            text-align: center;
            min-width: 1.2em;
            font-weight: bold;
        }

        .tag-up {
            text-transform: uppercase;
            font-size: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
        }
    }

    .navbar-dropdown {
        border-radius: 5px 5px 5px 5px;
        box-shadow: 6px 2px 64px -16px hsla(0, 0%, 0%, 0.75);
        display: none;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 70px;
        z-index: 20;

        .navbar-item {
            white-space: nowrap;
        }
    }

    .navbar-item.is-active .navbar-dropdown,
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        // Dropdown CSS
        display: block;
        background: var(--c-bg);
        padding: 0.5rem 0;
        min-width: 100%;

        a.navbar-item {
            color: var(--c-text);
            padding: 0.375rem 3rem 0.375rem 1rem;
            display: flex;

            svg {
                margin: 0.5rem;
            }

            &:hover,
            &:active {
                background: rgba(0, 173, 113, 0.5);
                //color: var(--c-lightest);
            }

            &.is-active {
                color: var(--c-text) !important;
                font-weight: bold !important;
            }
        }
    }

    .navbar-end {
        svg {
            width: 18px;
            height: 18px;
            color: var(--c-text);

            path {
                shape-rendering: auto;
            }
        }
    }

    .container {
        display: flex;
    }

    .tag:not(body) {
        align-items: center;
        background-color: $c-main;
        color: var(--c-lightest);
        display: inline-flex;
        font-size: 0.75rem;
        height: 2em;
        justify-content: center;
        line-height: 1.5;
        padding-left: 0.75em;
        padding-right: 0.75em;
        white-space: nowrap;
        border-radius: 500px;
        margin-left: 4px;
    }

    .navbar-menu {
        height: $navbar-height;
        width: 100%;
        display: grid;
        align-items: stretch;
        justify-content: space-between;
        grid-template-columns: repeat(2, auto);
    }

    .navbar-brand {
        width: 55px;
    }

    .brand {
        font-size: 1.15rem;
        transition: none;
        align-self: center;
        display: flex;
        align-items: center;
        height: $navbar-height;

        #brand-gradient-parent {
            width: 0;
            height: 0;
            position: absolute;
        }

        svg {
            height: 30px;
            width: 30px;

            path {
                fill: url(#brand-gradient) $c-brand;
            }
        }
    }

    .navbar-item {
        color: var(--c-text);
        font-size: 16px;
        line-height: 1.5;
        padding: 0.5rem 1rem;
        position: relative;
        cursor: pointer !important;
    }

    .navbar-link {
        color: var(--c-text);
    }

    .navbar-item.has-dropdown {
        padding: 0;

        &.is-active a,
        &.is-active span {
            color: $c-main;
        }
    }

    .navbar-item > .btn,
    .navbar-item > button {
        margin-left: 5px;
        margin-right: 5px;
        font-family: inherit;
        font-weight: bold;
    }

    svg {
        width: auto;
        margin: 0 0.5rem 0 0;
        fill: var(--c-lightest);
    }

    .fa-bell {
        height: 1.2rem;
        width: auto;
    }

    .navbar-dropdown {
        background: var(--c-bg-dark);
        box-shadow: 0 8px 8px hsla(0, 0%, 4%, 0.1);
        font-size: 0.9rem;
        min-width: 100%;

        .navbar-item {
            padding: 0.375rem 3rem 0.375rem 1rem;
            line-height: 1.5;
            color: var(--c-text);
        }

        .navbar-item:not(div):hover {
            //background: rgba(0, 173, 113, 0.05);
        }
    }

    .spinner {
        position: absolute;
        height: 30px;
        width: 30px;
        left: calc(50% + 4rem);
        top: 1rem;
    }

    .navbar-start {
        .navbar-item.is-active {
            //background: linear-gradient(
            //    180deg,
            //    rgba(0, 173, 113, 0.05) 0%,
            //    rgba(0, 173, 113, 0) 100%
            //);
            color: $c-main;
        }

        .navbar-link {
            color: var(--c-text);
            // font-weight: regular;
            font-size: 16px;
            line-height: 1.5;
            padding: 0.5rem 2rem;
            position: relative;
            cursor: pointer !important;

            // this otherwise animations are crazy slow.
            transition: background-color 0.3s ease !important;
        }

        .navbar-item:not(div):hover {
            //background: rgba(0, 173, 113, 0.05);
        }

        a.navbar-item,
        a.navbar-link {
            &:not(.has-dropdown) {
                .is-located,
                .is-active {
                    margin: 0;
                    color: $c-main;

                    .navbar-dropdown .navbar-item {
                        background: #fff;
                        box-shadow: none !important;

                        &.is-active,
                        &:hover,
                        &:active {
                            box-shadow: none !important;
                        }
                    }
                }
            }
        }

        > .navbar-item:first-of-type {
            // margin-left: -1rem;
        }

        .navbar-dropdown {
            a.navbar-item.is-active,
            .navbar-item.is-active {
                color: var(--c-lightest) !important;
            }
        }
    }

    .navbar-end {
        .navbar-item {
            padding: 0.5rem 0rem;
        }
        > .navbar-item:last-child {
            // margin-right: -1rem;
        }

        > a {
            svg {
                margin: 0 !important;
                //color: var(--c-lightest);
            }
        }

        .navbar-dropdown.is-right .navbar-item {
            justify-content: flex-start;
        }
    }

    input[type="search"].mainSearch {
        @extend %rounded;
        background: hsla(0, 0%, 0%, 0.1);
        border: 0;
        box-shadow: none;
        color: var(--c-lightest);
        height: 2.25em;
        line-height: 1;
        padding-left: 1em;
        padding-right: 1em;
    }

    #navChip {
        color: var(--c-text);
        height: 28px;
        cursor: default;
        border: 0;
        display: inline-flex;
        outline: none;
        padding: 0;
        font-size: 0.8125rem;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        box-sizing: border-box;
        align-items: center;
        white-space: nowrap;
        border-radius: 16px;
        vertical-align: middle;
        justify-content: center;
        text-decoration: none;
        background: rgba(0, 173, 113, 0.05);

        img {
            @extend %round;
            width: 28px;
            height: 28px;
            margin-right: -4px;
        }

        div {
            display: flex;
            align-items: center;
            user-select: none;
            white-space: nowrap;
            padding: 0 5px;
            font-family: $font;
            cursor: pointer;
        }

        > span {
            padding: 0 10px;
            font-family: $font !important;
        }
    }

    .navbar-end ::-webkit-input-placeholder {
        opacity: 0.2;
    }

    .navbar-end ::placeholder {
        opacity: 0.2;
    }
}

.navbar-secondary {
    font-size: 1rem;
    height: $navbar-height;
    background: var(--c-secondary-navbar);
    border-bottom: 0.2px solid var(--c-border-lightest);

    svg {
        margin-right: 0.5rem;
        height: 0.875rem;
        width: auto;
    }

    strong {
        @extend %uppercase;
    }

    .navbar-menu {
        height: $navbar-height;
        width: 100%;
        display: grid;
        align-items: stretch;
        justify-content: space-between;
        grid-template-columns: repeat(2, auto);
    }

    .navbar-start,
    .navbar-end {
        display: flex;
        align-items: stretch;
    }

    .navbar-item {
        height: $navbar-height;
        display: flex;
        align-items: center;

        &.disabled {
            color: $c-gray !important;
            pointer-events: none !important;
            cursor: not-allowed !important;
        }

        .tag {
            @extend %corners;
            text-transform: uppercase;
            font-size: 10px;
            background: transparent !important;
            padding-bottom: 10px;
            padding-left: 5px;
        }
    }

    .navbar-item,
    .navbar-link {
        color: var(--c-title) !important;
        line-height: 1.5;
        padding: 0.5rem 1.3rem;
        position: relative;
        cursor: pointer;
    }

    .navbar-link {
        padding-right: 2.5em;
    }

    .navbar-start {
        > .navbar-item:first-of-type {
            // margin-left: -1rem; why? bulma relic
        }

        .navbar-item {
            border: solid transparent;
            border-width: 2px 0;
            color: var(--c-text);

            // &:not(div):hover,
            //&:active,
            &.is-located,
            &.is-active {
                color: $c-main !important;
                border-bottom-color: $c-main;
            }
        }
    }

    .navbar-end {
        > .navbar-item:last-of-type {
            padding-right: 0;
        }

        ::-webkit-input-placeholder {
            opacity: 0.4;
        }

        ::placeholder {
            opacity: 0.4;
        }
    }
}

.nav-hidden .navbar {
    display: none;
}

@media screen and (min-width: $breakpoint-tablet) {
    #main-navbar {
        .navbar-item.is-icon {
            margin-left: 1.5rem;
        }

        button {
            // reduce button height by a tiny tiny amount - 0.25em
            // makes the nav feel a little less tiny
            height: 2em;
            // we will keep the same font size as the navbar items.
            font-size: 16px !important;
        }

        .navbar-end {
            justify-content: flex-end;
            order: 3;
        }

        .navbar-burger {
            display: none;
        }

        .navbar-item .navbar-dropdown.is-right {
            left: auto !important;
            right: 0px !important;
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .navbar-secondary {
        .flex.flex-gap-big > div:not(:last-child) {
            margin-right: 0.5rem !important;
        }

        .flex.flex-gap-big {
            // make elements swipe-able
            overflow: auto;
        }

        strong {
            display: none;
        }
    }

    #main-navbar {
        .navbar-item .navbar-dropdown.is-right {
            left: auto !important;
            right: 0px !important;
        }
        #logo {
            padding: 0.8rem 0 0 1.5rem;
        }

        .navbar-menu {
            //margin: 1rem 0 0 0 !important;
            display: none;
        }

        .navbar-menu.is-hidden-desktop {
            display: flex;
            margin: none !important;
        }

        .navbar-menu.is-active {
            display: block;

            .navbar-start,
            .navbar-end {
                display: flex;
                flex-flow: column nowrap;
                margin-left: 0;
            }

            .navbar-end {
                margin-top: 2rem;
            }

            .navbar-start {
                .navbar-dropdown {
                    padding-left: 1.2rem;
                }
            }

            .navbar-item,
            .navbar-link {
                display: block;
            }
        }
    }
}

.navbar-item.is-active,
.navbar-item.is-located {
    font-weight: 700;
    color: $c-main;
}

.navbar-dropdown .navbar-item {
    font-weight: normal !important;
    color: var(--c-lightest);
}

.navbar-burger {
    background-color: transparent;
    border: 0;
    height: 60px;
}

.navbar-burger span {
    background-color: white;
}

.navbar-dropdown {
    box-shadow: 6px 2px 64px -16px rgba(0, 0, 0, 0.75) !important;
}

.brand-underline {
}

.navbar-item.has-dropdown .is-gold {
    min-height: 45px;
    position: relative;
    overflow: hidden;
}

.navbar-item.has-dropdown .is-gold:after {
    content: "";
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 220px;
    position: absolute;
    z-index: 1;
    animation: slide 3.5s infinite;
    opacity: 0.5;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    );
}

/* animation */

@keyframes slide {
    0%,
    40% {
        transform: translateX(-100%);
    }
    80%,
    100% {
        transform: translateX(100%);
    }
}

#navbarUserChip {
    color: var(--c-text);
    height: 28px;
    display: inline-flex;
    outline: none;
    padding: 0 4px 0 0;
    font-size: 0.813rem;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    //background-color: rgba(0, 0, 0, 0.08);
    background-color: var(--c-bg-light);

    img {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        font-size: 1rem;
    }

    div {
        display: flex;
        align-items: center;
        user-select: none;
        white-space: nowrap;
        padding-left: 5px;
        padding-right: 5px;

        &:first-of-type {
            font-weight: 400 !important;
        }
    }
}
