@import "../../styles/_variables";

.AboutPage,
.FaqPage,
.ContactPage,
.LegalPage {
    .hero {
        @extend %people-bg;
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            img {
                height: 18px;
                margin-bottom: 0.8rem;
            }
        }
    }

    .maker-definition {
    }

    .sect {
        border-top: 1px solid var(--c-border);
        border-bottom: 1px solid var(--c-border);
        background-color: var(--c-lightest);
        padding-top: $gap * 2;
        padding-bottom: $gap * 2;

        hr {
            margin-top: $gap * 2;
            margin-bottom: $gap * 2;
        }
    }

    .sectx {
        border-top: 1px solid var(--c-border);
        background-color: var(--c-border);
        padding-top: $gap * 2;
        padding-bottom: $gap * 2;
    }

    .gallery {
        // margin-top: 1em;
        img {
            @extend %corners;
        }
    }

    .level {
        display: flex;
        flex-direction: row;
        width: 100%;
        > div {
            flex: 1;
            text-align: center;
            display: column;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    .user-signoff {
        margin-top: 10px;
        font-style: italic;
        display: inline-flex;
        align-items: center;
        justify-items: center;
        flex-direction: row;
        div {
            display: inline-flex;
            align-items: center;
            justify-items: center;
            margin-right: 10px;
        }
        img {
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }

    .team-sect {
        .member {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            img {
                margin-bottom: 1rem;
                border-radius: 50%;
                height: 200px;
            }
        }
    }

    @media only screen and (max-width: $breakpoint-mobile) {
        .team-sect {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .member {
                flex-direction: row;
                text-align: left;
                margin-bottom: 30px;

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
            img {
                margin-right: 10px;
                height: 50px !important;
            }
        }
    }
}

.FaqPage,
.ContactPage,
.LegalPage {
    .hero {
        min-height: 20vh;
        max-height: 20vh;
    }
}
