@import "../../../styles/_variables";

.MilestoneMedia {
    width: 100%;
    flex-direction: column;

    img {
        margin-right: 10px;
    }

    .heading {
        border-top: none !important;
        border-bottom: none !important;
    }

    &:hover {
        .hidden-button {
            display: block;
        }
    }

    .heading {
        color: grey !important;
    }

    .title {
        margin-bottom: 15px;
    }

    .content {
        color: #4a4a4a;
        max-width: 600px;
    }

    .buttons {
        margin-top: 20px;
    }

    .hidden-button {
        display: none;
    }
}

.MilestoneMedia.xs {
    .title {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .heading {
        margin-bottom: 5px;
    }
}

.StreamCard .MilestoneMedia {
    //border-left: 3px solid #00b77a;
    border: 1px solid var(--c-border);
    transition: all 0.3s ease;
    margin-bottom: 10px;

    & > div:first-of-type {
        padding: 1rem !important;
    }

    .comments-box {
        margin: 0 0 0 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}
.StreamCard .LinkWrapped:last-child {
    .MilestoneMedia {
        border-bottom-left-radius: 8px;
    }
}

.LinkWrapped .MilestoneMedia {
    &:hover {
        background-color: whitesmoke;
    }
}

.activity-item.MilestoneMedia {
    @extend %corners;
    border: 0px;
    margin-bottom: 0px;
    border: 1px solid var(--c-border);

    .CommentInput .input-container,
    .comments-box {
        @extend %corners;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    & > div:first-of-type {
        // background: var(--c-bg-light);
        padding: 1rem;
    }
    &:hover {
        background-color: transparent;
    }
}
