@import "../../styles/_variables";

.hero-container {
    background: var(--c-bg);
    min-height: 60vh;
    border-bottom: 1px solid var(--c-border);

    & > .container {
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4rem;
    }
}
